<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/bootstrap.php">
  <testsuites>
    <testsuite name="Sentry Test Suite">
      <directory>./test/Sentry/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">./src/Sentry/</directory>
    </whitelist>
  </filter>
</phpunit>
